:root {
    --fondo: #ffffff;
    --borde: #bfc0c0;
    --color-fuente-menu: #767981;
    --borde-formularios: #2d3142;
    --color-fuente-formularios: #191b24;

}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box
}
html {
    font-family: 'Aldrich', sans-serif;
    font-family: 'Wallpoet', cursive;
    font-size: 62.5%;
}
body {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: 
        "head head head"
        "nav main main"
        "foot foot foot";
    grid-template-columns: 50px 1fr 30px;
    grid-template-rows: 50px 1fr 50px;
}
#cabecera {
    grid-area: head;
    background-color: var(--fondo);
    border: 1px solid var(--borde);
}
#logo {
    display: none;
}
#menu-lateral {
    grid-area: nav;
    background: var(--secondary-color);
    border: 1px solid var(--borde);
}
#menu-lateral a {
    font-size: 20px;
    color: var(--color-fuente-menu);
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

/* #menu-lateral {
    display: none;
} */
/* #menu-lateral {
    width: 150px;
    background-color: var(--fondo);
    border: 2px solid var(--borde);
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu-lateral img {
    width: 20px;
}
#menu-lateral ul {
    list-style: none;
}
#menu-lateral a {
    text-decoration: none;
}
#cabecera {
    background: var(--fondo);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
    color: var(--color-fuente-menu);
    font-size: .7rem;
    margin: 0;
    padding: 0.5em 0 0.5em 2em;
}
#cabecera #logo {
    width: 20px;
    vertical-align: middle;
} */
#footer {
    grid-area: foot;
    background: #777;
    color: white;
    text-align: center;
    padding: 0.5em;
}